<div class="row">
  <h1 class="col-12">All Articles</h1>
</div>
<div class="row articles">
  <% @articles.each do |a| %>
    <div class="col-4 article-preview">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= a.title %></h3>
          <span class="card-subtitle"><%= a.category_friendly %></span>
          <p class="card-body">
            <%= a.content_summary(length: 75) %>
          </p>
          <%= link_to "Read", article_path(a), class: 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
