<h1>Welcome!</h1>
<% @articles.each do |cat, c_articles| %>
  <div class="category-articles">
    <h2><%= cat.to_s.gsub(/[-_]/, ' ').titleize %></h2>
    <% c_articles.each do |a| %>
      <div class="article-preview">
        <h3><%= a.title %></h3>
        <%= link_to "Read", article_path(a) %>
        <%#= a.content.html_safe %>
      </div>
    <% end %>
  </div>
  <!-- Simple breaker, TODO: REMOVE WHEN STYLING ADDED -->
  <hr class="remove-me" />
<% end %>
